html, body, div, ul, li, h2, button
footer, a {
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  background: transparent;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  font: inherit;
}

body {
  font-family: sans-serif;
  background: lightgray;
  color: black;
  font-weight: bold;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

.group:after {
  display: block;
  content: "";
  clear: both;
}

.game {
  width: 1095px;
  margin: 0 auto;
}

.grid {
  margin: 0 auto;
  width: 612px;
  border-top: 5px solid black;
  border-left: 5px solid black;
  margin-top: 10px;
  background: white;
  margin-bottom: 10px;
}

.grid > li {
  font-size: 100px;
  border-right: 4px solid black;
  border-bottom: 4px solid black;
  float: left;
  width: 200px;
  min-height: 150px;
  line-height: 1.5;
  text-align: center;
}

.grid > li:hover {
  background-color: yellow;
  cursor: pointer;
}

.header-text {
  text-align: center;
  padding: 5px;
  font-size: 24px;
}

.winner-text {
  color: black;
  text-align: center;
  font-size: 36px;
}

.reset-button {
  padding: 10px;
  border: 1px solid black;
  border-radius: 3px;
  background: lightgreen;
  color: white;
  font-size: 16px;
  cursor: pointer;
  float: right;
  margin-top: 10px;
  margin-right: 240px;
}

.current-player-text {
  text-align: center;
}

.footer {
  margin: 0 auto;
  width: 800px;
}

.footer-links {
  margin: 0 auto;
  width: 252px;
}

.footer-links > li {
  float: left;
  padding: 0px 5px;
  margin: 0px 10px;
}

.footer-links > li > a {
  padding: 2px;
  display: block;
}

.footer-links > li > a:hover {
  background: yellow;
  border-radius: 3px;
}

.footer-links > li > a > img {
  width: 50px;
}
